*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: inline-grid;
    background-color: aqua;
    /* width: 500px;
    height: 500px; */
    grid-template: 180px 180px 180px 180px / 190px 190px 190px 190px;
    /* margin: auto; */
}

.room{
    border: 1px solid;
    text-align: center;
    font-size: 30px;
}

.main_room{
    grid-column-start: 1;
    grid-column-end: 5;
}

.bathroom{
    /* grid-column: 4 / -5; */
    grid-area: 4 / -1 / -4 / -2;
    grid-row: 4 / -1;
    grid-column: -4 / -2;
}

.closet{
    grid-row: -4 / 5;
    grid-column: 4 / 5;
}

.kitchen{
    grid-row: -4/-1;
}


